@font-face {
    font-family: araboto;
    src: url(../misc/araboto-fonts/Araboto\ Normal\ 400.ttf);
}

@font-face {
    font-family: jujutsu-kaisen;
    src: url(../misc/jujutsu-kaisen.ttf);
}

* {
    padding: 0%;
    margin: 0%;
}

.index {
    height: 100vh;
    place-items: center;
    display: grid;
    font-family: araboto;
    position: relative;
    isolation: isolate;
    font-size: 31px;
    color: white;
}

/* For background image */
.index::after {
    background-image: url(../img/index-background.svg);
    background-size: cover;
    filter: brightness(40%);
    inset: 0;
    z-index: -1;
    content: '';
    position: absolute;
}

h1 {
    font-family: jujutsu-kaisen;
    font-size: 150px;
}

.anime-girl {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

.white-circle {
    position: absolute;
    z-index: 0;
    top: 305px;
    left: 1000px;
    width: 580px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

