* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid red;
}

html,
body {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: araboto;
    src: url(../misc/araboto-fonts/Araboto\ Normal\ 400.ttf);
}
body {
    position: relative;
    font-family: araboto;
    font-size: 1.5vw;
    color: #e6d4e0;
    text-align: center;
}

body::before { /* For background image */
    background-image: url(../img/index-background.svg);
    background-size: cover;
    position: fixed;
    filter: brightness(40%);
    inset: 0;
    z-index: -1;
    isolation: isolate;
    content: '';
    overflow: hidden;
}

@font-face {
    font-family: jujutsu-kaisen;
    src: url(../misc/jujutsu-kaisen.ttf);
}
h1 {
    position: relative;
    font-family: jujutsu-kaisen;
    font-size: 6.5vw;
    top: 1.5vw;
}

h1,
h3 {
    display: inline;
}

.images {
    position: relative;
}

.anime-girl {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 43%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.pink-circle {
    width: 22.7vw;
    height: auto;
}

/*Recipes on the left */
.recipe-list-0 {
    position: absolute;
    display: inline-block;
    top: 27vw;
    left: 1.8vw;
}

.recipe-list-0 .images {
    width: 13vw;
    height: 40vh;
    vertical-align: bottom;
    z-index: -1;
    filter: brightness(85%);
}

.recipe-list-0 a {
    position: absolute;
    top: 30vh;
    width: 13vw;
    height: auto;
}

.spirited-away-eating {
    margin-right: 3vw;
}

/*Recipes on the right*/
.recipe-list-1 {
    position: absolute;
    display: inline-block;
    top: 27vw;
    right: 1.8vw;
}

.recipe-list-1 .images {
    width: 13vw;
    height: 40vh;
    vertical-align: bottom;
    z-index: -1;
    filter: brightness(85%);
}

.recipe-list-1 a {
    position: absolute;
    top: 30vh;
    width: 13vw;
    height: auto;
}

.kiki-eating {
    margin-right: 3vw;
}

@font-face {
    font-family: araboto-bold;
    src: url(../misc/araboto-fonts/Araboto\ Bold\ 400.ttf);
}
a:link,
a:visited,
a:hover,
a:active {
    color: #facbeb;
    text-decoration: none;
    font-family: araboto-bold;
}