* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

.section {
    height: 100vh;
    width: auto;
}

@font-face {
    font-family: araboto;
    src: url(../misc/araboto-fonts/Araboto\ Normal\ 400.ttf);
}

/* INTRODUCTION SECTION */

.intro.section::before {
    background: url(../img/korean-pork-bowl/anime-room-background.jpg);
    background-size: cover;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(50%);
}

.intro.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-family: araboto;
}

.intro.intro.section > * {
    border: 5px solid red;
}

.intro.section h1 {
    font-size: 5.5rem;
    letter-spacing: 1.5rem;
}

.intro.section .english.heading {
    margin: 5rem;
}

.intro.section .korean.heading,
.intro.section .japanese.heading {
    writing-mode: vertical-lr;
}

.intro.section .details {
    display: flex;
    max-width: 1500px;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.details h2 {
    font-size: 3em;
}

.details p {
    font-size: 1.95em;
}

.intro.section img {
    width: 650px;
    height: auto;
}

/* INGREDIENTS SECTION */

.ingredients {
    position: relative;
    color: #ffffff;
    font-family: araboto;
    text-align: center;
}

.ingredients::after {
    background: #394657;
    background-size: cover;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(50%);
}

.ingredients .ingredients-heading {
    position: absolute;
    display: block;
    margin: 2m 0 auto;
    top: 0;
    width: 100%;
    font-size: 5.5em;
    letter-spacing: 0.2em;
}

.ingredients .korean-ingredients-heading {
    position: absolute;
    font-size: 5em;
    display: block;
    margin: 0;
    width: 1em;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
}

.ingredients .japanese-ingredients-heading {
    position: absolute;
    font-size: 5em;
    display: block;
    margin: 0;
    width: 1em;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
}

.ingredients-lists ul {
    list-style: none;
    padding: 0;
    font-size: 1.95em;
}

.ingredients-lists h2 {
    font-size: 3em;
    font-weight: bold;
    border: 8px solid #ffffff;
    padding: 0.5em;
    margin: 0 auto;
    width: fit-content;
}

.ingredients-lists {
    position: absolute;
    display: inline-flex;
    width: fit-content;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    padding-top: 8em;
}

.ingredients-lists div {
    display: inline-block;
    width: fit-content;
    height: auto;
    padding: 0 5em;
}

/* Cooking instructions section begins */
.cooking {
    position: relative;
    font-family: araboto;
    text-align: center;
    color: #ffffff;
}

.cooking::after {
    background-color: #13446b;
    background-size: cover;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(50%);
}

.cooking .cooking-heading {
    position: absolute;
    display: block;
    margin: 2m 0 auto;
    top: 0;
    width: 100%;
    font-size: 5.5em;
    letter-spacing: 0.2em;
}

.cooking .korean-cooking-heading {
    position: absolute;
    font-size: 5em;
    display: block;
    margin: 0;
    width: 1em;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
}

.cooking .japanese-cooking-heading {
    position: absolute;
    font-size: 5em;
    display: block;
    margin: 0;
    width: 1em;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
}

.cooking-lists ol {
    padding: 0;
    font-size: 1.7em;
}

.cooking-lists h2 {
    font-size: 2.3em;
    font-weight: bold;
    border: 8px solid #ffffff;
    padding: 0.5em;
    margin: 0 auto;
    width: fit-content;
}

.cooking-lists {
    position: absolute;
    display: inline-flex;
    width: fit-content;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    padding-top: 8em;
}

.cooking-lists div {
    display: inline-block;
    width: fit-content;
    height: auto;
    padding: 0 5em;
}