* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    border: 0;
    padding: 0;
}

/* || General Section */

@font-face {
    font-family: ameston-outline;
    src: url(../misc/AmestonOutline.otf);
}

@font-face {
    font-family: gluck-regular;
    src: url(../misc/gluck-fonts/Gluck\ Regular.otf);
}

@font-face {
    font-family: gluck-bold;
    src: url(../misc/gluck-fonts/Gluck\ Bold.otf);
}

.heading {
    display: flex;
    position: relative;
}

.heading h1 {
    flex: auto;
    text-align: center;
    font-family: ameston-outline;
    font-size: 15rem;
    font-weight: normal;
    color: #ffffff;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: gluck-regular;
    background-color: #000000;
    color: #ffffff;
}

.section .details {
    margin: 0 2.5rem;
    font-size: 1.8rem;
}

.section .details h2 {
    margin: 3.125rem 0;
    text-align: center;
}

.section .details li {
    margin: 0.625rem 0;
    text-align: left;
}

img {
    margin: 6.25rem 2.813rem;
    width: 100%;
    height: auto;
    min-width: 250px;
    min-height: auto;
}

@media screen and (max-width: 1201px) {
    html {
        font-size: 93%;
    }
}

@media screen and (max-width: 1025px) {
    html {
        font-size: 77%;
    }
}

@media screen and (max-width: 849px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 673px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 497px) {
    html {
        font-size: 30%;
    }
}

.section > * {
    border: 5px red solid;
}

/* || Introduction Section */

.introduction.heading::before {
    background: url(../img/tteobokki/manga-background.jpg);
    background-size: cover;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(60%);
}

.introduction.section .details {
    max-width: 500px;
    text-align: center;
}

.introduction.section .details h2 {
    font-family: gluck-bold;
    font-size: 4rem;
}

.introduction.section img {
    max-width: 900px;
}

/* || Ingredients Section */

.ingredients.heading::before {
    background: url(../img/tteobokki/ingredients-background.jpg);
    background-size: cover;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(40%);
}

.ingredients.section .ingredients-image-list {
    display: flex;
    flex-direction: column;
}

.ingredients.section .ingredients-image-list .row {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

.ingredients.section .details {
    display: flex;
}

.ingredients.section img {
    max-width: 250px;
    margin: 2.813rem;
}

/* || Steps Section */

.steps.heading::before {
    background: url(../img/tteobokki/steps-background.jpg);
    background-size: cover;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(50%);
}

.steps.section .subsection {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.steps.section .subsection.prep-ingredients .details {
    max-width: 500px;
    text-align: left;
}

.steps.section .subsection.prep-ingredients img {
    max-width: 800px;
}

.steps.section .subsection.make-dish {
    background-color: #161515;
}

/* FIX THIS CONTAINER MESS */

.steps.section .subsection.make-dish ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.steps.section .subsection.make-dish .row {
    max-width: 550px;
    margin: 0 3.125rem;
    text-align: left;
}

.steps.section .subsection.make-dish img {
    max-width: 900px;
    margin-bottom: 1.8rem; /* Reduce extra space between margin of image and details */
}

