* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,
body {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: ameston-outline;
    src: url(../misc/AmestonOutline.otf);
}

@font-face {
    font-family: gluck-regular;
    src: url(../misc/gluck-fonts/Gluck\ Regular.otf);
}

@font-face {
    font-family: gluck-bold;
    src: url(../misc/gluck-fonts/Gluck\ Bold.otf);
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 2rem;
}

.heading h1 {
    font-family: ameston-outline;
    font-size: 15rem;
    font-weight: normal;
}

.details {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

h2 {
    text-align: center;
    margin: 3.125rem 0;
}

li {
    margin: 0.625rem 0;
}

img {
    min-width: 250px;
    min-height: auto;
    margin: 6.25rem 2.813rem;
}

@media screen and (max-width: 1201px) {
    html {
        font-size: 93%;
    }
}

@media screen and (max-width: 1025px) {
    html {
        font-size: 77%;
    }
}

@media screen and (max-width: 849px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 673px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 497px) {
    html {
        font-size: 30%;
    }
}

/* INTRODUCTION SECTION */

.intro.heading::before {
    background: url(../img/tteobokki/manga-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(60%);
}

.description.section {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    font-family: gluck-regular;
    font-size: 1.8rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.description.section h2 {
    font-family: gluck-bold;
    font-size: 4rem;
}

.description.section .details {
    flex: initial;
    max-width: 500px;
    min-height: auto;
}

.description.section img {
    max-width: 900px;
}

/* INGREDIENTS SECTION */

.ingredients.heading::after {
    background: url(../img/tteobokki/ingredients-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(40%);
}

.ingredients.section { 
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #000000;
    color: #ffffff;
    font-family: gluck-regular;
    font-size: 1.8rem;
    flex-wrap: wrap;
}

.ingredients.section .ingredients-image-list {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.ingredients.section .row { 
    align-items: center;
    justify-content: center;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

.ingredients.section .details {
    display: flex;
    flex: auto;
    justify-content: center;
}

.ingredients.section img {
    flex: none; 
    margin: 2.813rem;
    max-width: 250px;
}

/* STEPS SECTION */

.steps.heading::after {
    background: url(../img/tteobokki/steps-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    z-index: -1;
    content: '';
    isolation: isolate;
    position: absolute;
    filter: brightness(50%);
}

.prep-ingredients,
.make-dish {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    font-family: gluck-regular;
    font-size: 1.8rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.make-dish {
    background-color: #161515;
}

.prep-ingredients .details {
    max-width: 500px;
    text-align: left;
}

.prep-ingredients img {
    max-width: 800px;
}

.make-dish ol {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.make-dish .row {
    max-width: 550px;
    margin: 0 3.125rem;
    text-align: left;
}

.make-dish img {
    max-width: 900px;
    margin-bottom: 1.8rem; /* Reduce extra space between margin of image and details */
}

